

{% liquid
  assign block_settings = block.settings
  assign use_inverse_logo = false

  assign current_path = request.path
  if current_path == blank or template.name == '404' or current_path contains '/404'
    if canonical_url contains '/blogs/'
      assign blog_part = canonical_url | split: '/blogs/' | last | split: '?' | first
      assign current_path = '/blogs/' | append: blog_part
    elsif canonical_url contains '/pages/'
      assign page_part = canonical_url | split: '/pages/' | last | split: '?' | first
      assign current_path = '/pages/' | append: page_part
    endif
  endif

  assign is_ayurveda_page = true

  if section.settings.enable_transparent_header_home and template.name == 'index' and section.settings.home_color_scheme == 'inverse'
    assign use_inverse_logo = true
  elsif section.settings.enable_transparent_header_product and template.name == 'product' and section.settings.product_color_scheme == 'inverse'
    assign use_inverse_logo = true
  elsif section.settings.enable_transparent_header_collection and template.name == 'collection' and section.settings.collection_color_scheme == 'inverse'
    assign use_inverse_logo = true
  endif

  if use_inverse_logo
    if settings.logo_inverse != blank
      assign inverse_logo = settings.logo_inverse
    else
      assign inverse_logo = settings.logo
    endif
  endif

  assign alt_text_fallback = 'accessibility.home_logo_alt' | t: store_name: shop.name
%}

{% comment %}
  Output all logo variants, use CSS to hide/show the appropriate one
  based on the .header[transparent] selector
{% endcomment %}
<a
  {% if template.name == 'index' and block_settings.hide_logo_on_home_page %}
    data-hidden-on-home-page
  {% endif %}
  href="{{ routes.root_url }}"
  class="size-style spacing-style header-logo"
  style="
    {% render 'size-style', settings: block_settings %}
    {% render 'spacing-style', settings: block_settings %}
    --font-family: var(--font-body--family);
    --font-style: var(--font-body--style);
    --font-weight: 600;
  "
  {{ block.shopify_attributes }}
>
  {% liquid
    assign logo_width = settings.logo_height | times: settings.logo.aspect_ratio | ceil
    assign logo_width_mobile = settings.logo_height_mobile | times: settings.logo.aspect_ratio | ceil
    assign inverse_logo_width = settings.logo_height | times: inverse_logo.aspect_ratio | ceil
    assign inverse_logo_width_mobile = settings.logo_height_mobile | times: inverse_logo.aspect_ratio | ceil
    assign logo_style = '--header-logo-image-width: ' | append: logo_width | append: 'px;' | append: '--header-logo-image-width-mobile: ' | append: logo_width_mobile | append: 'px; --header-logo-image-height: ' | append: settings.logo_height | append: 'px; --header-logo-image-height-mobile: ' | append: settings.logo_height_mobile | append: 'px;'
    assign inverse_logo_style = '--header-logo-image-width: ' | append: inverse_logo_width | append: 'px;' | append: '--header-logo-image-width-mobile: ' | append: inverse_logo_width_mobile | append: 'px; --header-logo-image-height: ' | append: settings.logo_height | append: 'px; --header-logo-image-height-mobile: ' | append: settings.logo_height_mobile | append: 'px;'
  %}

  <span
    class="header-logo__image-container header-logo__image-container--original"
    data-testid="header-logo"
  >
    {% if settings.logo != blank and is_ayurveda_page == false %}
      {% render 'image',
        image: settings.logo,
        class: 'header-logo__image',
        height: settings.logo_height,
        alt_text_fallback: alt_text_fallback,
        text_fallback: shop.name,
        style: logo_style
      %}
    {% else %}
      <span class="custom-logo-wrapper">
        <span class="custom-logo-icon">
          <svg viewBox="0 0 408.43 499" fill="url(#jyoti)">
            <defs>
              <linearGradient id="jyoti" gradientUnits="userSpaceOnUse" x1="0" y1="43115.5532" x2="0" y2="3039.2809">
                <stop offset="0" stop-color="#FBB436"/>
                <stop offset="0.05" stop-color="#FBB12C"/>
                <stop offset="0.1" stop-color="#FBB12C"/>
                <stop offset="0.15" stop-color="#F9AA2C"/>
                <stop offset="0.2" stop-color="#F8A628"/>
                <stop offset="0.3" stop-color="#F8A628"/>
                <stop offset="0.35" stop-color="#F69A23"/>
                <stop offset="0.5" stop-color="#F69A23"/>
                <stop offset="0.55" stop-color="#F59523"/>
                <stop offset="0.6" stop-color="#F3931C"/>
                <stop offset="0.65" stop-color="#F2881C"/>
                <stop offset="0.7" stop-color="#F17B1C"/>
                <stop offset="0.75" stop-color="#ED761C"/>
                <stop offset="0.8" stop-color="#E8691A"/>
                <stop offset="0.85" stop-color="#E7661A"/>
                <stop offset="0.9" stop-color="#DB5417"/>
                <stop offset="0.95" stop-color="#DB5417"/>
                <stop offset="1" stop-color="#D74D14"/>
              </linearGradient>
            </defs>
            <g transform="translate(-39.829696,536.84287) scale(0.01245126,-0.01245126)" fill="url(#jyoti)" stroke="none">
              <path d="M19600.00 43113.05C19156.13 43113.05 19092.81 42689.65 19029.55 42326.29C18966.03 41961.41 18902.57 41609.31 18827.19 41258.86C18676.45 40557.99 18478.05 39863.73 18252.84 39178.69C17814.94 37846.68 17275.68 36549.53 16643.23 35300.91C15378.34 32803.71 13740.69 30500.64 12542.16 27969.36C11942.87 26703.69 11453.37 25380.96 11164.12 24010.11C10874.86 22639.22 10785.86 21220.20 10946.34 19830.28C11267.31 17050.43 12586.23 14387.00 14581.91 12430.97C15095.30 11927.78 15653.48 11471.40 16249.68 11048.92C16416.68 10930.59 16586.65 10814.91 16792.02 10781.13C16959.93 10753.51 17151.50 10780.63 17294.85 10866.83C17431.67 10949.10 17524.56 11085.20 17524.97 11217.32C17525.38 11353.08 17428.15 11484.64 17328.60 11614.09C16465.68 12736.19 15428.53 13699.42 14595.40 14823.79C13763.70 15946.21 13135.32 17229.23 12793.51 18589.96C12451.69 19950.70 12396.44 21389.15 12587.69 22772.32C12970.16 25538.48 14338.49 28083.51 15783.25 30483.00C16505.61 31682.71 17247.07 32846.05 17887.92 34099.34C18217.49 34743.89 18520.46 35412.22 18809.55 36065.90C18954.00 36392.52 19094.99 36715.48 19200.16 37064.94C19285.72 37349.29 19347.58 37819.52 19600.00 37819.52C19852.42 37819.52 19914.28 37349.29 19999.84 37064.94C20105.01 36715.48 20246.00 36392.52 20390.45 36065.90C20679.54 35412.22 20982.51 34743.89 21312.08 34099.34C21952.93 32846.05 22694.39 31682.71 23416.75 30483.00C24861.51 28083.51 26229.84 25538.48 26612.31 22772.32C26803.56 21389.15 26748.31 19950.70 26406.49 18589.96C26064.68 17229.23 25436.30 15946.21 24604.60 14823.79C23771.47 13699.42 22734.32 12736.19 21871.40 11614.09C21771.85 11484.64 21674.62 11353.08 21675.03 11217.32C21675.44 11085.20 21768.33 10949.10 21905.15 10866.83C22048.50 10780.63 22240.07 10753.51 22407.98 10781.13C22613.35 10814.91 22783.32 10930.59 22950.32 11048.92C23546.52 11471.40 24104.70 11927.78 24618.09 12430.97C26613.77 14387.00 27932.69 17050.43 28253.66 19830.28C28414.14 21220.20 28325.14 22639.22 28035.88 24010.11C27746.63 25380.96 27257.13 26703.69 26657.84 27969.36C25459.31 30500.64 23821.66 32803.71 22556.77 35300.91C21924.32 36549.53 21385.06 37846.68 20947.16 39178.69C20721.95 39863.73 20523.55 40557.99 20372.81 41258.86C20297.43 41609.31 20233.97 41961.41 20170.45 42326.29C20107.19 42689.65 20043.87 43113.05 19600.00 43113.05Z"/>
              <path d="M19600.00 26133.53C19237.63 26133.53 19152.29 25733.88 19045.73 25429.89C18951.41 25160.83 18840.46 24901.96 18721.12 24648.53C18465.53 24105.75 18171.46 23587.86 17864.82 23071.99C17251.56 22040.24 16588.07 21016.50 16190.09 19887.64C15792.06 18758.62 15659.62 17524.45 15838.96 16338.94C16018.29 15153.50 16509.37 14016.71 17157.81 13012.22C17482.00 12510.03 17845.53 12040.90 18158.59 11519.11C18472.15 10996.49 18735.09 10421.04 18648.67 9841.96C18602.61 9533.31 18457.29 9223.63 18317.82 8913.50C18192.99 8635.93 18072.84 8357.99 17854.93 8198.65C17741.09 8115.41 17600.58 8064.54 17471.23 8092.39C17330.44 8122.71 17202.86 8246.31 17075.57 8360.81C16855.99 8558.32 16637.24 8728.75 16413.00 8893.75C14499.03 10302.11 12184.75 11315.69 9794.80 11481.40C8599.73 11564.26 7385.75 11435.11 6255.24 11000.94C5124.32 10566.62 4076.94 9827.05 3567.20 8747.66C3312.19 8207.69 3191.74 7582.68 3268.67 6983.98C3345.59 6385.37 3619.85 5813.06 3986.81 5337.75C4720.31 4387.68 5824.23 3825.16 6977.80 3455.62C8134.92 3084.94 9342.02 2908.44 10538.85 2975.49C11735.62 3042.54 12922.13 3353.12 14049.52 3784.62C15173.24 4214.72 16238.22 4764.95 17211.90 5475.66C17698.85 5831.09 18162.97 6226.66 18536.56 6691.99C18736.74 6941.32 18910.93 7210.69 19087.68 7482.49C19217.75 7682.51 19349.20 7943.94 19600.00 7943.94C19850.80 7943.94 19982.25 7682.51 20112.32 7482.49C20289.07 7210.69 20463.26 6941.32 20663.44 6691.99C21037.03 6226.66 21501.15 5831.09 21988.10 5475.66C22961.78 4764.95 24026.76 4214.72 25150.48 3784.62C26277.87 3353.12 27464.38 3042.54 28661.15 2975.49C29857.98 2908.44 31065.08 3084.94 32222.20 3455.62C33375.77 3825.16 34479.69 4387.68 35213.19 5337.75C35580.15 5813.06 35854.41 6385.37 35931.33 6983.98C36008.26 7582.68 35887.81 8207.69 35632.80 8747.66C35123.06 9827.05 34075.68 10566.62 32944.76 11000.94C31814.25 11435.11 30600.27 11564.26 29405.20 11481.40C27015.25 11315.69 24700.97 10302.11 22787.00 8893.75C22562.76 8728.75 22344.01 8558.32 22124.43 8360.81C21997.14 8246.31 21869.56 8122.71 21728.77 8092.39C21599.42 8064.54 21458.91 8115.41 21345.07 8198.65C21127.16 8357.99 21007.01 8635.93 20882.18 8913.50C20742.71 9223.63 20597.39 9533.31 20551.33 9841.96C20464.91 10421.04 20727.85 10996.49 21041.41 11519.11C21354.47 12040.90 21718.00 12510.03 22042.19 13012.22C22690.63 14016.71 23181.71 15153.50 23361.04 16338.94C23540.38 17524.45 23407.94 18758.62 23009.91 19887.64C22611.93 21016.50 21948.44 22040.24 21335.18 23071.99C21028.54 23587.86 20734.47 24105.75 20478.88 24648.53C20359.54 24901.96 20248.59 25160.83 20154.27 25429.89C20047.71 25733.88 19962.37 26133.53 19600.00 26133.53ZM19600.00 22653.35C19961.78 22653.35 20105.51 22076.85 20284.32 21713.46C20499.48 21276.18 20765.44 20880.04 21000.78 20461.00C21491.37 19587.48 21848.87 18614.45 21907.27 17615.82C21963.33 16657.06 21743.69 15674.70 21322.05 14812.65C21111.26 14381.70 20849.98 13980.81 20593.62 13567.99C20317.68 13123.60 20047.43 12401.06 19600.00 12401.06C19152.57 12401.06 18882.32 13123.60 18606.38 13567.99C18350.02 13980.81 18088.74 14381.70 17877.95 14812.65C17456.31 15674.70 17236.67 16657.06 17292.73 17615.82C17351.13 18614.45 17708.63 19587.48 18199.22 20461.00C18434.56 20880.04 18700.52 21276.18 18915.68 21713.46C19094.49 22076.85 19238.22 22653.35 19600.00 22653.35ZM10122.99 9878.20C11182.72 9756.72 12207.19 9434.37 13180.31 9003.44C14169.74 8565.29 15106.08 8014.89 15952.00 7305.18C16077.66 7199.75 16201.34 7090.80 16234.02 6964.00C16256.66 6876.14 16235.62 6779.71 16180.92 6691.24C16098.98 6558.72 15941.51 6444.04 15788.02 6351.87C15677.22 6285.33 15568.50 6230.52 15460.05 6175.85C14992.30 5940.07 14529.65 5706.97 14051.30 5509.38C13057.34 5098.82 11995.60 4841.58 10916.44 4746.87C9797.22 4648.65 8659.26 4725.26 7601.53 5089.64C7072.50 5271.88 6563.54 5526.12 6121.36 5878.77C5710.12 6206.77 5356.64 6619.90 5241.41 7125.41C5179.28 7398.00 5186.42 7697.45 5271.77 7965.33C5357.07 8233.08 5520.50 8469.31 5713.03 8674.51C6069.85 9054.83 6526.61 9328.61 7009.21 9524.50C7987.83 9921.70 9072.72 9998.60 10122.99 9878.20ZM29077.01 9878.20C30127.28 9998.60 31212.17 9921.70 32190.79 9524.50C32673.39 9328.61 33130.15 9054.83 33486.97 8674.51C33679.50 8469.31 33842.93 8233.08 33928.23 7965.33C34013.58 7697.45 34020.72 7398.00 33958.59 7125.41C33843.36 6619.90 33489.88 6206.77 33078.64 5878.77C32636.46 5526.12 32127.50 5271.88 31598.47 5089.64C30540.74 4725.26 29402.78 4648.65 28283.56 4746.87C27204.40 4841.58 26142.66 5098.82 25148.70 5509.38C24670.35 5706.97 24207.70 5940.07 23739.95 6175.85C23631.50 6230.52 23522.78 6285.33 23411.98 6351.87C23258.49 6444.04 23101.02 6558.72 23019.08 6691.24C22964.38 6779.71 22943.34 6876.14 22965.98 6964.00C22998.66 7090.80 23122.34 7199.75 23248.00 7305.18C24093.92 8014.89 25030.26 8565.29 26019.69 9003.44C26992.81 9434.37 28017.28 9756.72 29077.01 9878.20Z"/>
            </g>
          </svg>
        </span>
        <span class="custom-logo-text"><span class="custom-logo-text--primary">Ayur</span><span class="custom-logo-text--secondary">HQ</span></span>
      </span>
    {% endif %}
  </span>

  {% if use_inverse_logo %}
    <span
      class="header-logo__image-container header-logo__image-container--inverse"
      data-testid="header-logo-inverse"
    >
      {% if settings.logo_inverse != blank %}
        {% render 'image',
          image: inverse_logo,
          class: 'header-logo__image',
          height: settings.logo_height,
          alt_text_fallback: alt_text_fallback,
          text_fallback: shop.name,
          style: inverse_logo_style
        %}
      {% else %}
        <span class="custom-logo-wrapper custom-logo-wrapper--inverse">
          <span class="custom-logo-icon">
            <svg viewBox="0 0 408.43 499" fill="url(#jyoti)">
              <use href="#jyoti" />
              <g transform="translate(-39.829696,536.84287) scale(0.01245126,-0.01245126)" fill="url(#jyoti)" stroke="none">
                <path d="M19600.00 43113.05C19156.13 43113.05 19092.81 42689.65 19029.55 42326.29C18966.03 41961.41 18902.57 41609.31 18827.19 41258.86C18676.45 40557.99 18478.05 39863.73 18252.84 39178.69C17814.94 37846.68 17275.68 36549.53 16643.23 35300.91C15378.34 32803.71 13740.69 30500.64 12542.16 27969.36C11942.87 26703.69 11453.37 25380.96 11164.12 24010.11C10874.86 22639.22 10785.86 21220.20 10946.34 19830.28C11267.31 17050.43 12586.23 14387.00 14581.91 12430.97C15095.30 11927.78 15653.48 11471.40 16249.68 11048.92C16416.68 10930.59 16586.65 10814.91 16792.02 10781.13C16959.93 10753.51 17151.50 10780.63 17294.85 10866.83C17431.67 10949.10 17524.56 11085.20 17524.97 11217.32C17525.38 11353.08 17428.15 11484.64 17328.60 11614.09C16465.68 12736.19 15428.53 13699.42 14595.40 14823.79C13763.70 15946.21 13135.32 17229.23 12793.51 18589.96C12451.69 19950.70 12396.44 21389.15 12587.69 22772.32C12970.16 25538.48 14338.49 28083.51 15783.25 30483.00C16505.61 31682.71 17247.07 32846.05 17887.92 34099.34C18217.49 34743.89 18520.46 35412.22 18809.55 36065.90C18954.00 36392.52 19094.99 36715.48 19200.16 37064.94C19285.72 37349.29 19347.58 37819.52 19600.00 37819.52C19852.42 37819.52 19914.28 37349.29 19999.84 37064.94C20105.01 36715.48 20246.00 36392.52 20390.45 36065.90C20679.54 35412.22 20982.51 34743.89 21312.08 34099.34C21952.93 32846.05 22694.39 31682.71 23416.75 30483.00C24861.51 28083.51 26229.84 25538.48 26612.31 22772.32C26803.56 21389.15 26748.31 19950.70 26406.49 18589.96C26064.68 17229.23 25436.30 15946.21 24604.60 14823.79C23771.47 13699.42 22734.32 12736.19 21871.40 11614.09C21771.85 11484.64 21674.62 11353.08 21675.03 11217.32C21675.44 11085.20 21768.33 10949.10 21905.15 10866.83C22048.50 10780.63 22240.07 10753.51 22407.98 10781.13C22613.35 10814.91 22783.32 10930.59 22950.32 11048.92C23546.52 11471.40 24104.70 11927.78 24618.09 12430.97C26613.77 14387.00 27932.69 17050.43 28253.66 19830.28C28414.14 21220.20 28325.14 22639.22 28035.88 24010.11C27746.63 25380.96 27257.13 26703.69 26657.84 27969.36C25459.31 30500.64 23821.66 32803.71 22556.77 35300.91C21924.32 36549.53 21385.06 37846.68 20947.16 39178.69C20721.95 39863.73 20523.55 40557.99 20372.81 41258.86C20297.43 41609.31 20233.97 41961.41 20170.45 42326.29C20107.19 42689.65 20043.87 43113.05 19600.00 43113.05Z"/>
                <path d="M19600.00 26133.53C19237.63 26133.53 19152.29 25733.88 19045.73 25429.89C18951.41 25160.83 18840.46 24901.96 18721.12 24648.53C18465.53 24105.75 18171.46 23587.86 17864.82 23071.99C17251.56 22040.24 16588.07 21016.50 16190.09 19887.64C15792.06 18758.62 15659.62 17524.45 15838.96 16338.94C16018.29 15153.50 16509.37 14016.71 17157.81 13012.22C17482.00 12510.03 17845.53 12040.90 18158.59 11519.11C18472.15 10996.49 18735.09 10421.04 18648.67 9841.96C18602.61 9533.31 18457.29 9223.63 18317.82 8913.50C18192.99 8635.93 18072.84 8357.99 17854.93 8198.65C17741.09 8115.41 17600.58 8064.54 17471.23 8092.39C17330.44 8122.71 17202.86 8246.31 17075.57 8360.81C16855.99 8558.32 16637.24 8728.75 16413.00 8893.75C14499.03 10302.11 12184.75 11315.69 9794.80 11481.40C8599.73 11564.26 7385.75 11435.11 6255.24 11000.94C5124.32 10566.62 4076.94 9827.05 3567.20 8747.66C3312.19 8207.69 3191.74 7582.68 3268.67 6983.98C3345.59 6385.37 3619.85 5813.06 3986.81 5337.75C4720.31 4387.68 5824.23 3825.16 6977.80 3455.62C8134.92 3084.94 9342.02 2908.44 10538.85 2975.49C11735.62 3042.54 12922.13 3353.12 14049.52 3784.62C15173.24 4214.72 16238.22 4764.95 17211.90 5475.66C17698.85 5831.09 18162.97 6226.66 18536.56 6691.99C18736.74 6941.32 18910.93 7210.69 19087.68 7482.49C19217.75 7682.51 19349.20 7943.94 19600.00 7943.94C19850.80 7943.94 19982.25 7682.51 20112.32 7482.49C20289.07 7210.69 20463.26 6941.32 20663.44 6691.99C21037.03 6226.66 21501.15 5831.09 21988.10 5475.66C22961.78 4764.95 24026.76 4214.72 25150.48 3784.62C26277.87 3353.12 27464.38 3042.54 28661.15 2975.49C29857.98 2908.44 31065.08 3084.94 32222.20 3455.62C33375.77 3825.16 34479.69 4387.68 35213.19 5337.75C35580.15 5813.06 35854.41 6385.37 35931.33 6983.98C36008.26 7582.68 35887.81 8207.69 35632.80 8747.66C35123.06 9827.05 34075.68 10566.62 32944.76 11000.94C31814.25 11435.11 30600.27 11564.26 29405.20 11481.40C27015.25 11315.69 24700.97 10302.11 22787.00 8893.75C22562.76 8728.75 22344.01 8558.32 22124.43 8360.81C21997.14 8246.31 21869.56 8122.71 21728.77 8092.39C21599.42 8064.54 21458.91 8115.41 21345.07 8198.65C21127.16 8357.99 21007.01 8635.93 20882.18 8913.50C20742.71 9223.63 20597.39 9533.31 20551.33 9841.96C20464.91 10421.04 20727.85 10996.49 21041.41 11519.11C21354.47 12040.90 21718.00 12510.03 22042.19 13012.22C22690.63 14016.71 23181.71 15153.50 23361.04 16338.94C23540.38 17524.45 23407.94 18758.62 23009.91 19887.64C22611.93 21016.50 21948.44 22040.24 21335.18 23071.99C21028.54 23587.86 20734.47 24105.75 20478.88 24648.53C20359.54 24901.96 20248.59 25160.83 20154.27 25429.89C20047.71 25733.88 19962.37 26133.53 19600.00 26133.53ZM19600.00 22653.35C19961.78 22653.35 20105.51 22076.85 20284.32 21713.46C20499.48 21276.18 20765.44 20880.04 21000.78 20461.00C21491.37 19587.48 21848.87 18614.45 21907.27 17615.82C21963.33 16657.06 21743.69 15674.70 21322.05 14812.65C21111.26 14381.70 20849.98 13980.81 20593.62 13567.99C20317.68 13123.60 20047.43 12401.06 19600.00 12401.06C19152.57 12401.06 18882.32 13123.60 18606.38 13567.99C18350.02 13980.81 18088.74 14381.70 17877.95 14812.65C17456.31 15674.70 17236.67 16657.06 17292.73 17615.82C17351.13 18614.45 17708.63 19587.48 18199.22 20461.00C18434.56 20880.04 18700.52 21276.18 18915.68 21713.46C19094.49 22076.85 19238.22 22653.35 19600.00 22653.35ZM10122.99 9878.20C11182.72 9756.72 12207.19 9434.37 13180.31 9003.44C14169.74 8565.29 15106.08 8014.89 15952.00 7305.18C16077.66 7199.75 16201.34 7090.80 16234.02 6964.00C16256.66 6876.14 16235.62 6779.71 16180.92 6691.24C16098.98 6558.72 15941.51 6444.04 15788.02 6351.87C15677.22 6285.33 15568.50 6230.52 15460.05 6175.85C14992.30 5940.07 14529.65 5706.97 14051.30 5509.38C13057.34 5098.82 11995.60 4841.58 10916.44 4746.87C9797.22 4648.65 8659.26 4725.26 7601.53 5089.64C7072.50 5271.88 6563.54 5526.12 6121.36 5878.77C5710.12 6206.77 5356.64 6619.90 5241.41 7125.41C5179.28 7398.00 5186.42 7697.45 5271.77 7965.33C5357.07 8233.08 5520.50 8469.31 5713.03 8674.51C6069.85 9054.83 6526.61 9328.61 7009.21 9524.50C7987.83 9921.70 9072.72 9998.60 10122.99 9878.20ZM29077.01 9878.20C30127.28 9998.60 31212.17 9921.70 32190.79 9524.50C32673.39 9328.61 33130.15 9054.83 33486.97 8674.51C33679.50 8469.31 33842.93 8233.08 33928.23 7965.33C34013.58 7697.45 34020.72 7398.00 33958.59 7125.41C33843.36 6619.90 33489.88 6206.77 33078.64 5878.77C32636.46 5526.12 32127.50 5271.88 31598.47 5089.64C30540.74 4725.26 29402.78 4648.65 28283.56 4746.87C27204.40 4841.58 26142.66 5098.82 25148.70 5509.38C24670.35 5706.97 24207.70 5940.07 23739.95 6175.85C23631.50 6230.52 23522.78 6285.33 23411.98 6351.87C23258.49 6444.04 23101.02 6558.72 23019.08 6691.24C22964.38 6779.71 22943.34 6876.14 22965.98 6964.00C22998.66 7090.80 23122.34 7199.75 23248.00 7305.18C24093.92 8014.89 25030.26 8565.29 26019.69 9003.44C26992.81 9434.37 28017.28 9756.72 29077.01 9878.20Z"/>
              </g>
            </svg>
          </span>
          <span class="custom-logo-text"><span class="custom-logo-text--primary">Ayur</span><span class="custom-logo-text--secondary">HQ</span></span>
        </span>
      {% endif %}
    </span>
  {% endif %}
</a>

{% stylesheet %}
  .header-logo {
    display: flex;
    height: 100%;
    font-size: var(--font-size--md);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--color-foreground);
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &[data-hidden-on-home-page] {
      display: none;

      #header-component:is(
          [sticky='always']:not([data-scroll-direction='none']),
          [sticky='scroll-up'][data-scroll-direction='up']
        )
        & {
        display: flex;
      }
    }

    @media screen and (max-width: 749px) {
      padding: 0;
    }

    @media screen and (min-width: 750px) {
      flex-shrink: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .header-logo__image {
    object-fit: contain;
    height: var(--header-logo-image-height-mobile);
    width: var(--header-logo-image-width-mobile);

    @media screen and (min-width: 750px) {
      height: var(--header-logo-image-height);
      width: var(--header-logo-image-width);
    }
  }

  .header-logo:has(.header-logo__image-container--inverse) .header-logo__image-container--original {
    display: var(--header-logo-display, block);
  }

  .header-logo__image-container--inverse {
    display: var(--header-logo-inverse-display, none);
  }

  .custom-logo-wrapper {
    display: inline-flex !important;
    align-items: center !important;
    gap: 8px !important;
    flex-direction: row !important;
    white-space: nowrap !important;
  }
  .header-logo:has(.custom-logo-wrapper),
  .header-logo:has(.custom-logo-wrapper) .header-logo__image-container {
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
    min-width: 0 !important;
    display: inline-flex !important;
    align-items: center !important;
    white-space: nowrap !important;
    flex-direction: row !important;
  }
  .custom-logo-icon {
    display: flex;
    align-items: center;
    width: 28px;
    height: 34px;
  }
  .custom-logo-icon svg {
    width: 100%;
    height: 100%;
  }
  .custom-logo-text {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-body--family), sans-serif;
    letter-spacing: -0.5px;
    display: inline-flex;
    align-items: center;
  }
  .custom-logo-text--primary {
    color: #1e1e1e;
  }
  .custom-logo-text--secondary {
    color: #c94f17;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.logo",
  "tag": null,
  "class": "header-logo",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.edit_logo_in_theme_settings"
    },
    {
      "type": "header",
      "content": "t:content.visibility"
    },
    {
      "type": "checkbox",
      "id": "hide_logo_on_home_page",
      "label": "t:settings.hide_logo_on_home_page",
      "info": "t:info.hide_logo_on_home_page_help"
    },
    {
      "type": "header",
      "content": "t:content.padding_desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
