

{% liquid
  assign block_settings = block.settings
  assign use_inverse_logo = false

  assign is_ayurveda_page = false
  if template.name == 'blog' or template.name == 'article' or request.path contains '/blogs/ayurveda' or request.path contains '/blogs/news' or template.suffix contains 'ayurveda'
    assign is_ayurveda_page = true
  endif

  if section.settings.enable_transparent_header_home and template.name == 'index' and section.settings.home_color_scheme == 'inverse'
    assign use_inverse_logo = true
  elsif section.settings.enable_transparent_header_product and template.name == 'product' and section.settings.product_color_scheme == 'inverse'
    assign use_inverse_logo = true
  elsif section.settings.enable_transparent_header_collection and template.name == 'collection' and section.settings.collection_color_scheme == 'inverse'
    assign use_inverse_logo = true
  endif

  if use_inverse_logo
    if settings.logo_inverse != blank
      assign inverse_logo = settings.logo_inverse
    else
      assign inverse_logo = settings.logo
    endif
  endif

  assign alt_text_fallback = 'accessibility.home_logo_alt' | t: store_name: shop.name
%}

{% comment %}
  Output all logo variants, use CSS to hide/show the appropriate one
  based on the .header[transparent] selector
{% endcomment %}
<a
  {% if template.name == 'index' and block_settings.hide_logo_on_home_page %}
    data-hidden-on-home-page
  {% endif %}
  href="{{ routes.root_url }}"
  class="size-style spacing-style header-logo"
  style="
    {% render 'size-style', settings: block_settings %}
    {% render 'spacing-style', settings: block_settings %}
    --font-family: var(--font-body--family);
    --font-style: var(--font-body--style);
    --font-weight: 600;
  "
  {{ block.shopify_attributes }}
>
  {% liquid
    assign logo_width = settings.logo_height | times: settings.logo.aspect_ratio | ceil
    assign logo_width_mobile = settings.logo_height_mobile | times: settings.logo.aspect_ratio | ceil
    assign inverse_logo_width = settings.logo_height | times: inverse_logo.aspect_ratio | ceil
    assign inverse_logo_width_mobile = settings.logo_height_mobile | times: inverse_logo.aspect_ratio | ceil
    assign logo_style = '--header-logo-image-width: ' | append: logo_width | append: 'px;' | append: '--header-logo-image-width-mobile: ' | append: logo_width_mobile | append: 'px; --header-logo-image-height: ' | append: settings.logo_height | append: 'px; --header-logo-image-height-mobile: ' | append: settings.logo_height_mobile | append: 'px;'
    assign inverse_logo_style = '--header-logo-image-width: ' | append: inverse_logo_width | append: 'px;' | append: '--header-logo-image-width-mobile: ' | append: inverse_logo_width_mobile | append: 'px; --header-logo-image-height: ' | append: settings.logo_height | append: 'px; --header-logo-image-height-mobile: ' | append: settings.logo_height_mobile | append: 'px;'
  %}

  <span
    class="header-logo__image-container header-logo__image-container--original"
    data-testid="header-logo"
  >
    {% if settings.logo != blank and is_ayurveda_page == false %}
      {% render 'image',
        image: settings.logo,
        class: 'header-logo__image',
        height: settings.logo_height,
        alt_text_fallback: alt_text_fallback,
        text_fallback: shop.name,
        style: logo_style
      %}
    {% else %}
      <span class="custom-logo-wrapper">
        <span class="custom-logo-icon">
          <svg viewBox="0 0 408.43 499" fill="url(#jyoti)">
            <defs>
              <linearGradient id="jyoti" gradientUnits="userSpaceOnUse" x1="0" y1="43115.5532" x2="0" y2="3039.2809">
                <stop offset="0" stop-color="#FBB436"/>
                <stop offset="0.05" stop-color="#FBB12C"/>
                <stop offset="0.1" stop-color="#FBB12C"/>
                <stop offset="0.15" stop-color="#F9AA2C"/>
                <stop offset="0.2" stop-color="#F8A628"/>
                <stop offset="0.3" stop-color="#F8A628"/>
                <stop offset="0.35" stop-color="#F69A23"/>
                <stop offset="0.5" stop-color="#F69A23"/>
                <stop offset="0.55" stop-color="#F59523"/>
                <stop offset="0.6" stop-color="#F3931C"/>
                <stop offset="0.65" stop-color="#F2881C"/>
                <stop offset="0.7" stop-color="#F17B1C"/>
                <stop offset="0.75" stop-color="#ED761C"/>
                <stop offset="0.8" stop-color="#E8691A"/>
                <stop offset="0.85" stop-color="#E7661A"/>
                <stop offset="0.9" stop-color="#DB5417"/>
                <stop offset="0.95" stop-color="#DB5417"/>
                <stop offset="1" stop-color="#D74D14"/>
              </linearGradient>
            </defs>
            <g transform="translate(-39.829696,536.84287) scale(0.01245126,-0.01245126)" fill="url(#jyoti)" stroke="none">
              <path d="M19600.00 43113.05C19156.13 43113.05 19092.81 42689.65 19029.55 42326.29C18966.03 41961.41 18902.57 41609.31 18827.19 41258.86C18676.45 40557.99 18478.05 39863.73 18252.84 39178.69C17814.94 37846.68 17275.68 36549.53 16643.23 35300.91C15378.34 32803.71 13740.69 30500.64 12542.16 27969.36C11942.87 26703.69 11453.37 25380.96 11164.12 24010.11C10874.86 22639.22 10785.86 21220.20 10946.34 19830.28C11267.31 17050.43 12586.23 14387.00 14581.91 12430.97C15095.30 11927.78 15653.48 11471.40 16249.68 11048.92C16416.68 10930.59 16586.65 10814.91 16792.02 10781.13C16959.93 10753.51 17151.50 10780.63 17294.85 10866.83C17431.67 10949.10 17524.56 11085.20 17524.97 11217.32C17525.38 11353.08 17428.15 11484.64 17328.60 11614.09C16465.68 12736.19 15428.53 13699.42 14595.40 14823.79C13763.70 15946.21 13135.32 17229.23 12793.51 18589.96C12451.69 19950.70 12396.44 21389.15 12587.69 22772.32C12970.16 25538.48 14338.49 28083.51 15783.25 30483.00C16505.61 31682.71 17247.07 32846.05 17887.92 34099.34C18217.49 34743.89 18520.46 35412.22 18809.55 36065.90C18954.00 36392.52 19094.99 36715.48 19200.16 37064.94C19285.72 37349.29 19347.58 37819.52 19600.00 37819.52C19852.42 37819.52 19914.28 37349.29 19999.84 37064.94C20105.01 36715.48 20246.00 36392.52 20390.45 36065.90C20679.54 35412.22 20982.51 34743.89 21312.08 34099.34C21952.93 32846.05 22694.39 31682.71 23416.75 30483.00C24861.51 28083.51 26229.84 25538.48 26612.31 22772.32C26803.56 21389.15 26748.31 19950.70 26406.49 18589.96C26064.68 17229.23 25436.30 15946.21 24604.60 14823.79C23771.47 13699.42 22734.32 12736.19 21871.40 11614.09C21771.85 11484.64 21674.62 11353.08 21675.03 11217.32C21675.44 11085.20 21768.33 10949.10 21905.15 10866.83C22048.50 10780.63 22240.07 10753.51 22407.98 10781.13C22613.35 10814.91 22783.32 10930.59 22950.32 11048.92C23546.52 11471.40 24104.70 11927.78 24618.09 12430.97C26613.77 14387.00 27932.69 17050.43 28253.66 19830.28C28414.14 21220.20 28325.14 22639.22 28035.88 24010.11C27746.63 25380.96 27257.13 26703.69 26657.84 27969.36C25459.31 30500.64 23821.66 32803.71 22556.77 35300.91C21924.32 36549.53 21385.06 37846.68 20947.16 39178.69C20721.95 39863.73 20523.55 40557.99 20372.81 41258.86C20297.43 41609.31 20233.97 41961.41 20170.45 42326.29C20107.19 42689.65 20043.87 43113.05 19600.00 43113.05Z"/>
            </g>
          </svg>
        </span>
        <span class="custom-logo-text"><span class="custom-logo-text--primary">Dhyan</span><span class="custom-logo-text--secondary">HQ</span></span>
      </span>
    {% endif %}
  </span>

  {% if use_inverse_logo %}
    <span
      class="header-logo__image-container header-logo__image-container--inverse"
      data-testid="header-logo-inverse"
    >
      {% if settings.logo_inverse != blank %}
        {% render 'image',
          image: inverse_logo,
          class: 'header-logo__image',
          height: settings.logo_height,
          alt_text_fallback: alt_text_fallback,
          text_fallback: shop.name,
          style: inverse_logo_style
        %}
      {% else %}
        <span class="custom-logo-wrapper custom-logo-wrapper--inverse">
          <span class="custom-logo-icon">
            <svg viewBox="0 0 408.43 499" fill="url(#jyoti)">
              <use href="#jyoti" />
              <g transform="translate(-39.829696,536.84287) scale(0.01245126,-0.01245126)" fill="url(#jyoti)" stroke="none">
                <path d="M19600.00 43113.05C19156.13 43113.05 19092.81 42689.65 19029.55 42326.29C18966.03 41961.41 18902.57 41609.31 18827.19 41258.86C18676.45 40557.99 18478.05 39863.73 18252.84 39178.69C17814.94 37846.68 17275.68 36549.53 16643.23 35300.91C15378.34 32803.71 13740.69 30500.64 12542.16 27969.36C11942.87 26703.69 11453.37 25380.96 11164.12 24010.11C10874.86 22639.22 10785.86 21220.20 10946.34 19830.28C11267.31 17050.43 12586.23 14387.00 14581.91 12430.97C15095.30 11927.78 15653.48 11471.40 16249.68 11048.92C16416.68 10930.59 16586.65 10814.91 16792.02 10781.13C16959.93 10753.51 17151.50 10780.63 17294.85 10866.83C17431.67 10949.10 17524.56 11085.20 17524.97 11217.32C17525.38 11353.08 17428.15 11484.64 17328.60 11614.09C16465.68 12736.19 15428.53 13699.42 14595.40 14823.79C13763.70 15946.21 13135.32 17229.23 12793.51 18589.96C12451.69 19950.70 12396.44 21389.15 12587.69 22772.32C12970.16 25538.48 14338.49 28083.51 15783.25 30483.00C16505.61 31682.71 17247.07 32846.05 17887.92 34099.34C18217.49 34743.89 18520.46 35412.22 18809.55 36065.90C18954.00 36392.52 19094.99 36715.48 19200.16 37064.94C19285.72 37349.29 19347.58 37819.52 19600.00 37819.52C19852.42 37819.52 19914.28 37349.29 19999.84 37064.94C20105.01 36715.48 20246.00 36392.52 20390.45 36065.90C20679.54 35412.22 20982.51 34743.89 21312.08 34099.34C21952.93 32846.05 22694.39 31682.71 23416.75 30483.00C24861.51 28083.51 26229.84 25538.48 26612.31 22772.32C26803.56 21389.15 26748.31 19950.70 26406.49 18589.96C26064.68 17229.23 25436.30 15946.21 24604.60 14823.79C23771.47 13699.42 22734.32 12736.19 21871.40 11614.09C21771.85 11484.64 21674.62 11353.08 21675.03 11217.32C21675.44 11085.20 21768.33 10949.10 21905.15 10866.83C22048.50 10780.63 22240.07 10753.51 22407.98 10781.13C22613.35 10814.91 22783.32 10930.59 22950.32 11048.92C23546.52 11471.40 24104.70 11927.78 24618.09 12430.97C26613.77 14387.00 27932.69 17050.43 28253.66 19830.28C28414.14 21220.20 28325.14 22639.22 28035.88 24010.11C27746.63 25380.96 27257.13 26703.69 26657.84 27969.36C25459.31 30500.64 23821.66 32803.71 22556.77 35300.91C21924.32 36549.53 21385.06 37846.68 20947.16 39178.69C20721.95 39863.73 20523.55 40557.99 20372.81 41258.86C20297.43 41609.31 20233.97 41961.41 20170.45 42326.29C20107.19 42689.65 20043.87 43113.05 19600.00 43113.05Z"/>
              </g>
            </svg>
          </span>
          <span class="custom-logo-text"><span class="custom-logo-text--primary">Dhyan</span><span class="custom-logo-text--secondary">HQ</span></span>
        </span>
      {% endif %}
    </span>
  {% endif %}
</a>

{% stylesheet %}
  .header-logo {
    display: flex;
    height: 100%;
    font-size: var(--font-size--md);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--color-foreground);
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &[data-hidden-on-home-page] {
      display: none;

      #header-component:is(
          [sticky='always']:not([data-scroll-direction='none']),
          [sticky='scroll-up'][data-scroll-direction='up']
        )
        & {
        display: flex;
      }
    }

    @media screen and (max-width: 749px) {
      padding: 0;
    }

    @media screen and (min-width: 750px) {
      flex-shrink: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .header-logo__image {
    object-fit: contain;
    height: var(--header-logo-image-height-mobile);
    width: var(--header-logo-image-width-mobile);

    @media screen and (min-width: 750px) {
      height: var(--header-logo-image-height);
      width: var(--header-logo-image-width);
    }
  }

  .header-logo:has(.header-logo__image-container--inverse) .header-logo__image-container--original {
    display: var(--header-logo-display, block);
  }

  .header-logo__image-container--inverse {
    display: var(--header-logo-inverse-display, none);
  }

  .custom-logo-wrapper {
    display: inline-flex !important;
    align-items: center !important;
    gap: 8px !important;
    flex-direction: row !important;
    white-space: nowrap !important;
  }
  .header-logo:has(.custom-logo-wrapper),
  .header-logo:has(.custom-logo-wrapper) .header-logo__image-container {
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
    min-width: 0 !important;
    display: inline-flex !important;
    align-items: center !important;
    white-space: nowrap !important;
    flex-direction: row !important;
  }
  .custom-logo-icon {
    display: flex;
    align-items: center;
    width: 26px;
    height: 32px;
  }
  .custom-logo-icon svg {
    width: 100%;
    height: 100%;
  }
  .custom-logo-text {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-body--family), sans-serif;
    letter-spacing: -0.5px;
    display: inline-flex;
    align-items: center;
  }
  .custom-logo-text--primary {
    color: #1e1e1e;
  }
  .custom-logo-text--secondary {
    color: #c94f17;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.logo",
  "tag": null,
  "class": "header-logo",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:content.edit_logo_in_theme_settings"
    },
    {
      "type": "header",
      "content": "t:content.visibility"
    },
    {
      "type": "checkbox",
      "id": "hide_logo_on_home_page",
      "label": "t:settings.hide_logo_on_home_page",
      "info": "t:info.hide_logo_on_home_page_help"
    },
    {
      "type": "header",
      "content": "t:content.padding_desktop"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
